<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short URL Generated</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Your Short URL is Ready!</h1>
      <div class="generated-url">
        <p>
          URL Generated:
          <a href="http://localhost:8001/url/<%= id %>" target="_blank"> http://localhost:8001/url/<%= id %> </a>
        </p>
      </div>
      <a href="/" class="back-link">⬅ Back to Home</a>
    </div>
  </body>
</html>
